<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.settingsmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.rosehulman.settingsmanager.Profiles"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.rosehulman.settingsmanager.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="edu.rosehulman.settingsmanager.FavoriteQuotesActivity"
            android:label="@string/title_activity_favorite_quotes" >
        </activity>
        <activity
            android:name="edu.rosehulman.settingsmanager.ChangeSettingsMenuActivity"
            android:label="@string/title_activity_change_settings_menu" >
        </activity>

        <receiver 
            android:name="edu.rosehulman.settingsmanager.SettingsManagerWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/settings_manager_widget_info" />
        </receiver>

        <service
            android:name="edu.rosehulman.settingsmanager.SettingsManagerWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>